:root{
    --borders: hsl(0, 0%, 90%);
    --thumbs-background: rgb(247, 247, 247);
    --img-top-counter: hsl(0, 0%, 60%);
    --mobile-img-bg: hsl(0, 0%, 98%);
    --active-thumb: hsl(109, 72%, 82%);
}
.gallery {
    width: 500px;
    outline: 1px solid var(--borders);
}

.gallery img {
    display: block;
    width: 100%;
}

.main-img{
    position: relative;
    cursor: pointer;
   
}
#featured-img{
    transition: all 1s ease-in-out;
}

.gallery-thumbs {
    width: 100%;
    padding-bottom: 25%;
    /* 1:1 Aspect Ratio */
    position: relative;
    outline: 1px solid var(--borders);
}

.thumbs-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: calc(100% - 20%);
    overflow: hidden;
   
}

.thumbs-container {
    display: flex;
    align-items: center;
   transition: all .6s ease;
}

.thumb-img {
    width: calc(100% / 4);
    max-height: 90%;
    margin: 0 1px;
    cursor: pointer;
}

.thumb-img img {
    display: flex;
    width: 100%;
    object-fit: contain;

}

.top-ctls, .ctls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
 
.top-ctls, .ctls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.top-ctls{
   margin: 0 3px;
}
#lg-next, #ctl-next{
    right: 0;
}
#lg-prev,
#lg-next{
    position: absolute;
    width: 5%;
    height: 40px;
    top: 50%;
    z-index: 9;
}
.prevlg-btn,
.nextlg-btn,
.prev-btn,
.next-btn {
    display: grid;
    place-items: center;
       
}
.prev-btn,
.next-btn {
    width: 75%;
    min-width: 20px;
    min-height: 20px;
    background: url('./img/move-btn.svg') no-repeat center;
    background-size: contain;
    padding: 2px;
}
.prevlg-btn,
.nextlg-btn{
    width: 12%;
    min-width: 20px;
    min-height: 40px;
    background: url('./img/top-move-btn.svg') no-repeat center;
    background-size: contain;
}

.prevlg-btn, .prev-btn {
    transform: rotate(180deg);
}